.chart-container {
  width: 70vw;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.button-container {
  float: right;
  width: 15vw
}

.button-custom {
  margin-bottom: 10px;
  font-size: 15px;
  border: var(--startStop-button-color-regular) solid 3px;
  background: var(--startStop-button-color-regular);
  height: 44px;
  width: 100%;
}
