.chart-container {
  width: 75vw;
  height: fit-content;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.button-container {
  float: right;
  width: 15vw;
  height: fit-content;
  max-height: 70vh;
  overflow-y: scroll;
}

.chart-dig-item {
  height: 60px;
  width: 60px;
  background-color: var(--background-color);
  margin: 20px;
  border-radius: 5px;
}

