<div class="chart-container">
  <canvas id="chart"> {{chart}}</canvas>
</div>
<div class="button-container">
  <button class="btn btn-primary button-custom">Messung starten</button>
  <button class="btn btn-primary button-custom">Messung beenden</button>
  <button class="btn btn-primary button-custom">Pause starten</button>
  <button class="btn btn-primary button-custom">Pause stoppen</button>
  <button class="btn btn-primary button-custom" (click)="open_metadata_input_dialog()">Metadaten eingeben</button>
</div>

