<html>
<body>
<header class="sticky-top" style="z-index: 0; height: 60px">
  <mat-toolbar>
    <img src="assets/logo.png" height="40px">
    <span class="navbar-spacer"></span>
    <button mat-icon-button class="navbar-item" routerLink="/">
      <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-icon-button class="navbar-item" routerLink="/data" routerLinkActive="mat-primary">
      <mat-icon>storage</mat-icon>
    </button>
    <button mat-icon-button class="navbar-item" routerLink="/settings" routerLinkActive="mat-primary">
      <mat-icon>settings</mat-icon>
    </button>
    <div>
      <div matTooltip="{{(apiService.getStatusValue('BATTERY_LEVEL') * 100).toString() + '%'}}" matTooltipPosition="above" class="batteryContainer">
        <div class="batteryOuter"><div id="batteryLevel" style="width:{{(apiService.getStatusValue('BATTERY_LEVEL') * 100).toString() + '%'}}"></div></div>
        <div class="batteryBump"></div>
      </div>
    </div>
  </mat-toolbar>
</header>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
</body>
</html>

