<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let elem">{{elem.name}}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="location">Ort</th>
      <td mat-cell *matCellDef="let elem">{{elem.location}}</td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="distance">Distanz</th>
      <td mat-cell *matCellDef="let elem">{{elem.distance}}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="user">Durchführender</th>
      <td mat-cell *matCellDef="let elem">{{elem.user}}</td>
    </ng-container>
    <ng-container matColumnDef="measure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="description">Notiz</th>
      <td mat-cell *matCellDef="let elem">{{elem.notes}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Datum, Uhrzeit</th>
      <td mat-cell *matCellDef="let elem">{{toDateTime(elem.date, false)}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let elem">
        <button mat-icon-button color="regular" [disabled]="elem.distance > 3000" (click)="open_chart_modal(elem.date)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button color="regular" (click)="download_csv(elem.date)">
          <mat-icon>save_alt</mat-icon>
        </button>
        <button mat-icon-button color="regular" (click)="open_metadata_input(elem)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="regular" (click)="delete_table(elem.date)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedTableCols"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedTableCols;"></tr>
  </table>
</div>

