/* You can add global styles to this file, and also import other style files */
:root {
  --font-color-regular: #000000;
  --background-color: rgba(0, 0, 0, 0.09);
  --content-container-color: #f3f3f4;
  --header-background-color: rgba(0, 0, 0, 0.09);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
