/* You can add global styles to this file, and also import other style files */
@import url('node_modules/bootstrap/dist/css/bootstrap.css');
:root {
  --font-color-regular: #000000;
  --background-color: rgba(0, 0, 0, 0.09);
  --content-container-color: #f3f3f4;
  --header-background-color: rgba(0, 0, 0, 0.09);
  --startStop-button-color-regular: rgba(3, 33, 68, 0.9);
  --comment-button-color-regular: rgba(3, 33, 68, 0.8);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.button-custom {
  margin-bottom: 10px;
  font-size: 15px;
  border: var(--startStop-button-color-regular) solid 3px;
  background: var(--startStop-button-color-regular);
  height: max(44px, fit-content);
  width: 100%;
}

.table-container {
  height: 80vh;
  overflow: auto;
}

