<h1 mat-dialog-title>Daten zur Messung</h1>
<div mat-dialog-content>
  <form>
    <p>
    <mat-form-field>
      <mat-label>Bezeichnung</mat-label>
      <input matInput [(ngModel)]="metaData.inputName" name="inputName">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
      <mat-label>Prüfer</mat-label>
      <input matInput [(ngModel)]="metaData.inputUser" name="inputUser" placeholder="Vorname, Nachname">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input matInput [(ngModel)]="metaData.inputLocation" name="inputLocation">
      <button mat-button matSuffix><mat-icon>location_on</mat-icon></button>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
      <mat-label>Notizen</mat-label>
      <input matInput [(ngModel)]="metaData.inputNotes" name="inputNotes" type="text">
    </mat-form-field>
    </p>
    <p>
      <mat-form-field *ngIf="measurement == undefined">
        <mat-label>Strassenbreite</mat-label>
        <input matInput [(ngModel)]="metaData.inputStreetWidth" name="inputStreetWidth" type="number">
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions style="width: 100%" class="d-flex justify-content-between">
  <button mat-icon-button color="regular" mat-dialog-close><mat-icon>cancel</mat-icon></button>
  <button mat-icon-button color="regular" (click)="saveMetadataToLocalStorage()"><mat-icon>save</mat-icon></button>
  <button mat-icon-button color="regular" [mat-dialog-close]="this.metaData" (click)="updateMetadata()"><mat-icon>check_circle_outline</mat-icon></button>
</div>
